html {
    background-color: pink;
    user-select: none;
}
.productos{
    display: flex;
    gap: 10px;
    margin-top: 50px;
    margin-left: 250px;
    flex-wrap: wrap;
    left: 50%;

}



.producto {
  width: 280px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
  

}

.img-box {
  position: relative;
  overflow: hidden;
  
  
}

.img-box img {
  width: 100%;
  display: block;
}

/* Precio */
.precio {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ff4d4d;
  color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bold;
}

/* Iconos */
.icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 15px;
  opacity: 0;
  transition: 0.3s;
}

.icons button {
  background: #fff;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  transition: 0.2s;
}

.icons button:hover {
  background: #ff4d4d;
  color: #fff;
}

/* Mostrar iconos al pasar el mouse */
.img-box:hover .icons {
  opacity: 1;
}

h3 {
  margin: 15px 0;
}

/* 📱 MÓVIL */
@media (max-width: 600px) {
  .icons {
    opacity: 1;
    position: static;
    transform: none;
    margin: 10px 0;
    justify-content: center;
  }
}

/* Esto hace que la barra NO se mueva al bajar la página */
.header-estatico {
  position: fixed;        
  top: 0;
  left: 0;
  width: 100%;            
  background-color: white; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;          
  display: flex;
  align-items: center;    
}

.navbar-container {
  display: flex;
  justify-content: space-between; /* Logo a la izq, Menú a la derecha */
  align-items: center;
  width: 90%;             
}

.menu-navegacion ul {
  display: flex;          
  list-style: none;
  gap: 25px;              
}

.menu-navegacion a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

/* Espacio compensatorio para el resto del contenido */
body {
  padding-top: 75px;      
}


input{ 
    position: relative;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

